* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif, monospace, "Times New Roman", "Open Sans", "Montserrat",
    sans-serif;
  min-width: 100%;
  min-height: 100vh;
}
#topDiv {
  background-color: #00a5b4;
  min-width: 100%;
  min-height: 35px;
  top: 0;
  left: 0;
  position: fixed;
  animation: 1.5s ease-out 0s 1 slideFromTop;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#topDiv > :first-child {
  margin-left: 50px;
  z-index: 6;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  column-gap: 20px;
}

#topDiv > div > div {
  display: inline-flex;
  position: relative;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#numOfQuestions,
#amount-of-time,
#timer {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(9.5px, 3.05vw, 20px);
  font-weight: 300;
  display: inline;
  color: #ff0;
  position: relative;
  z-index: inherit;
  margin-left: 10px;
}

.timeIcon {
  height: clamp(16px, 4.5vw, 27px);
  width: clamp(16px, 4.5vw, 27px);
  margin-left: 10px;
  background-repeat: no-repeat;
  background-image: url("Assets/clockIcon.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: inline-block;
}
#timer {
  display: none;
  border: 1px #ff0 solid;
  height: 100%;
  width: auto;
  margin-left: 0px;
  font-size: 20px;
}
#optionIcon {
  left: 0;
  top: 0;
  z-index: 6;
  position: fixed;
  animation: 1.5s ease-out 0s 1 slideFromTop;
}
#optionIcon > span {
  background-color: #ff0;
  height: 2px;
  width: 30px;
  display: block;
  margin-top: 7px;
  margin-left: 10px;
  z-index: inherit;
  transition: 0.6s;
  /* transform: rotate(-45deg); */
}
#mainFirst {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  animation: 1.25s ease-out 0s 1 slideFromLeft;
  text-align: center;
  background-color: #00b469;
  min-width: 100%;
  height: max(800px, 60%);
  font-family: "Open Sans", "Montserrat", sans-serif;
  z-index: 1;
  font-size: clamp(9.5px, 1.5vw, 16px);
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: 1s;
  overflow: hidden;
}
#mainFirst > div {
  background-image: url("Assets/chemistry-flaskIMG2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 70%;
  position: absolute;
  top: 10px;
  left: -28%;
  z-index: -1;
}
@media sceen and (max-width: 540px) {
}
/* Add all Responsive stuff here 
@media screen and (max-width: 1040px) {

  #mainFirst {
    font-size: 1rem;
  }
}
@media screen and (max-width: 840px) {
  #mainFirst {
    font-size: 0.75rem
  }
}
/* @media screen and (max-width: 600px) { 
  #mainFirst {
    font-size: 0.6rem
  }
} */
@keyframes slideFromLeft {
  from {
    left: 0%;
    transform: translateX(-100%);
  }
  to {
    left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes slideFromTop {
  from {
    top: -45px;
  }
  to {
    top: 0;
  }
}
@keyframes slideFromBottom {
  from {
    top: 0;
  }
  top {
    top: -45px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#mainFirst > * {
  margin-top: 1.5rem;
}
#startbutton {
  display: block;
  position: relative;
  min-width: 25%;
  height: max(10%, 70px);
  font-size: 1.5em;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 3rem;
}
#mainOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("Assets/graphBackground.png");
  background-repeat: repeat;
}
.bigTxt,
h2 {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}
.bigTxt {
  font-size: 5.5em;
}
h3 {
  color: #a1e09d;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  font-size: 1.35em;
}
button {
  /*background-color: #00b40f;  
  border: 1px solid #00831c;
  */
  background-color: #51f198ab;
  border: 2px solid #00b469;
  display: inline-block;
  cursor: pointer;
  color: #00a5b4;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding: 1.4rem 1.4rem;
  text-decoration: none;
  transition: 0.45s;
  text-align: center;
  border-radius: 12px;
  /* text-shadow: 1px 1px 0px #0a308a; */
  text-shadow: 1px 0px 0px #00a5b4;
}

button:hover {
  /* background-color: #1543ad; */
  background-color: rgb(0, 172, 100);
  color: #8efff9;
  text-shadow: 1px 0px 0px #9de0dd;
}

#navBar {
  width: 0;
  left: -300px;
  z-index: 0;
  height: 100%;
  position: fixed;
  transition: 0.75s;
  background-color: #00a5b4;
  top: 0;
  display: block;
}
#navBar[class~="clicked"] {
  z-index: 5;
  left: 0;
  width: 300px;
}
#navBar > :first-child {
  margin-top: 40px;
  margin-bottom: -1px;
}
.navElement {
  width: 100%;
  min-height: 50px;
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  margin-bottom: -1px;
  margin-top: -1px;
  color: #ff0;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  text-align: center;
  transition: 0.6s;
  padding-bottom: 0.8rem;
}
.navElement > p {
  cursor: pointer;
  height: 100%;
  display: block;
  margin-top: 0.8rem;
}
.navElement > p:hover,
.navElement > p:hover i {
  color: rgb(255, 254, 199);
  border-color: rgb(255, 254, 199);
}
.navElement > p > i {
  display: inline-block;
  border: #ff0 solid;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  background-color: transparent;
  position: relative;
  top: -3px;
  transition: 0.6s;
}
.navElement > p > i[class~="clicked"] {
  transform: rotate(-135deg);
  top: 2px;
}
.navElement > div {
  max-height: 0;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  transition: 0.8s ease-in-out;
  z-index: initial;
}
.navElement > div[class~="clicked"] {
  max-height: 1000px;
}
.questionForm {
  text-align: left;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.questionForm > div {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
}
.questionForm > div > label {
  font-size: 1em;
}
.questionInput,
.timeInput {
  width: auto;
  background-color: transparent;
  border-bottom: 1px #ff0;
  display: inline-block;
  color: #ff0;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 100;
  border: 1px solid #ff0;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
}
.timeInput,
.timeInput + p {
  font-size: 1.5em;
  display: inline-block;
  border: none;
}
.timeContainer {
  justify-content: center;
  display: flex;
}
#time-form {
  margin-top: 0.75rem;
  border: 1px #ff0 solid;
  max-width: fit-content;
}
.questionInput::-webkit-inner-spin-button,
.questionInput::-webkit-outer-spin-button {
  opacity: 1;
}
.timeInput::-webkit-inner-spin-button,
.timeInput::-webkit-outer-spin-button {
  opacity: 0;
  display: none;
}

*:focus {
  outline: none;
}
#question-page {
  display: none;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-50%);
  left: 50%;
  top: 88px;
  position: relative;
  /*background-image: url("Assets/trianglify-lowres\ \(3\).png");*/
  width: clamp(250px, 75%, 1000px);
  height: auto;
  background: white;
  padding: 10px 5px 10px 5px; 
-webkit-box-shadow: -1px -2px 28px 1px rgba(0,0,0,0.31);
-moz-box-shadow: -1px -2px 28px 1px rgba(0,0,0,0.31);
box-shadow: -1px -2px 28px 1px rgba(0,0,0,0.31);
}
#question-container {
  height: 50%;
  width: 100%;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 30px 30px;
}
.parent {
  width: clamp(100px, 25%, 420px); 
  animation: fadein 0.8s; 
 
}
.answer,
.question, .correction {
  font-family: "Open Sans", "Montserrat", sans-serif;
  color: #00b469;
  font-size: clamp(10px, 2vw, 18px);
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  white-space: nowrap;
}
.answer {
  background: transparent;
  border-bottom: #00b469 1px solid;
  text-align: left;
}
#question-page > button {
  margin-top: 20px;
}
#score {
  display: none;
  margin-top: 10px;
  margin-bottom: 5px;
}
.wrong {
  color: #b4004b;
}
.question + .wrong {
  border-color: #b4004b;
} 

#retry-button {
  display: none;
}
