* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif, monospace, "Times New Roman",
    "Open Sans", "Montserrat", sans-serif;
  min-width: 100vh;
  min-height: 100vh;
}
#topDiv {
  background-color: #00a5b4;
  min-width: 100%;
  min-height: 35px;
  top: 0;
  left: 0;
  position: absolute; 
  animation: 1.5s ease-out 0s 1 slideFromTop;  
}   
#topDiv > * { 
  float:left;  
  margin-left:30px;
} 
#topDiv > :first-child { 
  margin-left: 0 
}
#topDiv > p { 
  font-family: "Open Sans",  sans-serif; 
  font-size: 20px;  
  display:block; 
  color: #000000; 
  top: 2px; 
  position:relative; 

} 
#optionIcon > span {
  background-color: #ff0;
  height: 2px;
  width: 30px;
  display: block;
  margin-top: 6px;
  margin-left: 10px;
} 
#mainFirst {
  position: absolute;
  top: 5%;
  animation: 1.5s ease 0s 1 slideFromLeft;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #00b469;
  width: 100%;
  height: 60%;
  font-family: "Open Sans", "Montserrat", sans-serif;
}
/* Add all Responsive stuff here*/
@media screen and (max-width: 1040px) {
  #mainFirst {
    height: 65%;
  }
  #startbutton {
    margin-top: 80px;
  }
  .bigTxt {
    font-size: 5em;
  }
}
@media screen and (max-width: 800px) {
  #mainFirst {
    height: 75%;
  }
  .bigTxt {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 500px) {
}
@keyframes slideFromLeft {
  from {
    left: 0%;
    transform: translateX(-100%);
  }
  to {
    left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes slideFromTop {
  from { 
top:-45px;
  } 
  top{ 
    top:0;
  }
}
#mainFirst > * {
  margin-top: 1.5rem;
}
#startbutton {
  display: block;
  position: absolute;
  width: 210px;
  height: 70px;
  font-size: 20px;
  transform: translateX(-50%);
  left: 50%;
  bottom: 100px;
}
#mainOverlay {
  min-width: 100%;
  background-color: #76d4a0;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("graph-paper-photo3.jpg");
  background-repeat: repeat;
  box-shadow: inset 0 0 0 5000px #00e78787;
}
.bigTxt,
h2,
.placeHolder {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}
.bigTxt {
  font-size: 5.5em;
}
h3{
  color: #a1e09d;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
}
button {
  /*background-color: #00b40f;  
  border: 1px solid #00831c;
  */
  background-color: #51f198ab;
  border: 2px solid #00b469;
  display: inline-block;
  cursor: pointer;
  color: #00a5b4;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  padding: 16px 31px;
  text-decoration: none;
  transition: 0.45s;
  text-align: center;
  border-radius: 12px;
  /* text-shadow: 1px 1px 0px #0a308a; */
  text-shadow: 1px 0px 0px #00a5b4;
}

button:hover {
  /* background-color: #1543ad; */
  background-color: #00b338;
  color: #9de0dd;
  text-shadow: 1px 0px 0px #9de0dd;
}

form {
  display: none;
  margin-left: 40px;
  text-align: center;
}
input {
  width: 100%;
  height: 100%;
}

.placeHolder {
  transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: -1;
}
/* form,
input,
p,
td,
label {
  font-size: 100%;
  text-align: center;
  font-family: "Times New Roman", serif;
}
table td {
  border: 2.5px black solid;
  height: 30px;
  width: 180px;
  background-color: #ffffff;
}

table {
  border-spacing: 4px 8px;
}
p,
.instructions {
  text-align: left;
  font-size: 20px;
  margin-top: 15px;
}

.columnLabel {
  font-weight: 600;
}
.submitButton {
  font-size: 22px;
  padding: 16px 31px;
  margin-bottom: 16px;
}
*/
